@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

body {
    font-family: Playfair Display, serif;
    color: #476770;
    background-color: #d3d8cf;
    padding-bottom: 100px;

}

* {
    margin: 0;
    padding: 0;
    border: none;

}

/* headings and logo*/

h1, h2, h3 {
    font-family: Playfair Display, serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #476770;
}

#logo {
    float: left;
    position: absolute;
    font-size: 255%;
    padding: 30px;
    margin: 2% 0 0 5.5%;
    line-height: 50px;
}


/*navigation links*/

#menu {
    float: left;
    position: relative;
    font-size: 150%;
    letter-spacing: 3px;
    margin-top: 7%;
    margin-left: 6.5%;
    margin-bottom: 2%;
    
}

#menu li {
    float: left;    
    list-style-type: none;
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: #8AA69F;

}

#menu a:hover {
    color: #8AA69F;
    border-bottom: 1px solid #8AA69F;
}

.active {
    border-bottom: 1px solid #8AA69F;
}

#gallery {
    font-size: 150%;
    float: right;
    list-style-type: none;
    margin-right: 10%;
    letter-spacing: 3px;
    line-height: 170px;
}

#gallery a {
    text-decoration: none;
    color: inherit;
}

#gallery a:hover {
    color: #8AA69F;
    border-bottom: 1px solid #8AA69F;
}

/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #ffffff;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-johann-5681788.jpg) no-repeat center center;
    background-size: cover;
}

/* line (hr) styling*/

hr {
    border-top: 1px solid #476770;
    width: 95%;
    margin: 5px;
}

/* about us */

.about {
    float: left;
    font-size: 130%;
    width: 40%;
    height: 300px;
    background-color: #AEBAB2;
    position: relative;
    font-family: Lato, sans-serif;
    margin-top: 8%;
    margin-left: 4%;
    padding: 1%;
    border: 1px solid #476770;
    letter-spacing: 1px;

}
 /* open times */

.times {
    float: right;
    font-size: 130%;
    width: 40%;
    height: 300px;
    background-color: #AEBAB2;
    position: relative;
    font-family: Lato, sans-serif;
    margin-top: 8%;
    margin-right: 10%;
    padding: 1%;
    border: 1px solid #476770;
    letter-spacing: 1px;

}

/* what we offer */

.services {
    float: left;
    font-size: 130%;
    width: 40%;
    height: 330px;
    background-color: #AEBAB2;
    position: relative;
    font-family: Lato, sans-serif;
    margin-top: 8%;
    margin-left: 4%;
    padding: 1%;
    border: 1px solid #476770;
    letter-spacing: 1px;
}

/* something extra */

.extra {
    float: right;
    font-size: 130%;
    width: 40%;
    height: 330px;
    background-color: #AEBAB2;
    position: relative;
    font-family: Lato, sans-serif;
    margin-top: 8%;
    margin-right: 10%;
    padding: 1%;
    border: 1px solid #476770;
    letter-spacing: 1px;
}

/*application form*/

form {
    font-size: 130%;
    width: 80%;
    margin-top: 10%;
    background: url(../images/pexels-markus-spiske-113338.jpg) no-repeat center center;
    background-size: cover;
    margin-left: 4%;
    margin-bottom: 10%;
    padding: 50px;
    color: #d3d8cf;
    font-family: Lato, sans-serif;
    display: inline-block;

}

form > h2 {
    color: #d3d8cf;
}

#submit {
    background-color: #d3d8cf;
    padding: 7px;
    margin: 10px;
    font-family: Lato, sans-serif;
    font-size: 100%;
    border: 1px solid #476770;
}

#submit:hover {
    background-color: #8AA69F;
}

.form-input {
    padding: 5px;
    margin: 10px;
    background-color: #d3d8cf;
    opacity: .6;
    border: 1px solid #fff;
    font-size: 65%;
    font-family: Lato, sans-serif;
    line-height: 10px;
}

.form-input:hover {
    background-color: #8AA69F;
}

.label-font {
    font-family: Lato, sans-serif;
    font-size: 110%;
    padding: 10px;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    padding-top: 20px;
}

#photos > img {
    width: 100%;
}

/* confirmation page for application */

.confirmation {
    float: left;
    font-size: 130%;
    margin-top: 10%;
    margin-left: 30%;
    text-align: center;

}

/* footer */

footer {
    float: left;
    text-align: center;
    height: 150px;
    margin-top: 5%;
    margin-left: 30%;
    
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #476770;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */ 
@media screen and (max-width: 1200px) {


    #hero-image {
        width: 100%;
        
    }

    #logo {
        width: 100%;
        margin: 0%;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        clear: left;
        float: left;
        margin-left: 5%;
        margin-bottom: 5%;
        line-height: 75px;
    }

    .about, .times, .extra, .services {
        width: 100%;
        height: 330px;
        clear: both;
        
    }

    .about, .times, .extra, .services {
        padding: 0px;
        margin: 0;
    }

    #gallery {
        width: inherit;

    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #hero-image {
        width: 100%;
        
        
    }

    #logo {
        font-size: 200%;
        float: left;
        clear: left;
        margin: 15% 5% 15% 11%;
        padding: 0px;
    }

    #gallery {
        clear: left;
        float: right;
        font-size: 150%;
        margin-top: 5%;
        margin-right: 10%;
        margin-bottom: 20px;
        line-height: 25px;
    
    }


    #menu {
        display: flex;
        justify-content: space-between;
        clear: left;
        float: left;
        margin-left: 7%;
        margin-top: 20%;
        margin-bottom: 5%;
        line-height: 25px;
    }

    .times, .extra {
        width: 90%;
        height: 320px;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;


    }

    .about, .services {
        width: 90%;
        height: 400px;
        padding-top: 5%;
        text-align: center;
    }

    .about, .times, .extra, .services {
        width: 90%;
        margin: 5%;
        text-align: center;
    }

    .about h2, .times h2, .extra h2, .services h2 {
        width: 90%;
        text-align: center;
    }

    .extra h3 {
        width: 90%;
        text-align: center;
    }

    .about p, .times p, .extra p, .services p {
        text-align: center;
        padding: 5px;

    }

    #apply {
        width: 78%;
        display: flex;
        flex-flow: column;
        align-items: left;
        text-align: left;
        font-size: 110%;
    }

    .label-font {
        padding: 10px;
    }

    #photos {
        column-count: 3;
    }
}

/* For small screen size 800px and down*/
@media screen and (max-width: 800px) {

    #hero-image {
        width: 100%;
        
    }

    #logo {
        font-size: 150%;
        float: left;
        clear: left;
        margin: 20% 5% 5% 12%;

    }

    #gallery {
        clear: left;
        float: right;
        margin-right: 10%;
        margin-bottom: 8%;
        margin-top: 8%;
        line-height: 25px;
        font-size: 100%;
        overflow: hidden;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        font-size: 100%;
        clear: left;
        float: left;
        margin-left: 4%;
        margin-top: 10%;
        margin-bottom: 7%;
        line-height: 25px;

    }

    .times, .extra {
        width: 90%;
        height: 450px;
        margin: 5% 5% 5% 0%;

    }

    .about, .services {
        width: 90%;
        height: 550px;
        margin: 5%;
        }

    .about, .times, .extra, .services {
        width: 90%;
        align-content: center;
    }

    .about h2, .times h2, .extra h2, .services h2 {
        width: 90%;
        text-align: center;
    }

    .extra h3 {
        width: 90%;
        text-align: center;
    }

    .about p, .times p, .extra p, .services p {
        text-align: center;
        padding: 5px;
    }

    #apply {
        width: 60%;
        display: flex;
        flex-flow: column;
        align-items: left;
        text-align: left;
        font-size: 100%;
    }

    .label-font {
        padding: 10px;
    }

    #photos {
        column-count: 2;
    }

    footer { 
        width: 90%;
        margin: 5%;
    }

