@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap');

body {
    font-family: Playfair Display, serif;
    color: #476770;

}

* {
    margin: 0;
    padding: 0;
    border: none;

}

/* headings and logo*/

h1, h2 {
    font-family: Playfair Display, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #8AA69F;
}

#logo {
    float: left;
    font-size: 300%;
    padding: 30px;
    margin: 20px 0 0 120px;
    position: absolute;
    line-height: 50px;
}


/*navigation links*/

#menu {
    font-size: 130%;
    letter-spacing: 3px;
    position: absolute;
    margin: 110px 0 0 110px;
    
}

#menu li {
    float: left;    
    list-style-type: none;
    padding: 10px;

}

#menu a {
    text-decoration: none;
    color: #8AA69F;
}

#menu a:hover {
    color: #8AA69F;
    border-bottom: 1px solid #8AA69F;
}

#gallery {
    font-size: 150%;
    float: right;
    list-style-type: none;
    margin-right: 70px;
    letter-spacing: 3px;
    line-height: 130px;
    text-transform: uppercase;
}

#gallery a {
    text-decoration: none;
    color: #8AA69F;
}

#gallery a:hover {
    color: #8AA69F;
    border-bottom: 1px solid #8AA69F;
}

/*image and about us*/

#about-background {
    background-color: #8AA69F;
    margin: auto;
}

#french-bulldog {
    float: left;
    width: 50%;
    height: 500px;
    width: 700px;
    margin: 250px 0 0 130px;
    border-radius: 2%;
}

#about {
    font-size: 120%;
    float: right;
    width: 50%;
    height: 500px;
    width: 700px;
    margin: 330px 200px 0px 0px;
    border-radius: 2%;
}

hr {
    border-top: 1px solid #476770;
    width: 100%;
    margin: 5px;
}